/*----------------------------HEADER.HTML--------------------------------------*/
.footer {
    line-height: 60px;
    background-color: #e9ecef;
    float: left;
    width: 100%;
    min-height: 15vh;
}

.nav{
  float: left;
  width: 20%;
  height: 100%;
  background-color: #c1c1c1;
}

#hamburger{
  background-color: white;
  float: left;
  width: 55px;
  height: 100%;
  display: grid;
  position: fixed;
}

#hamburger span{
  font-size: 30px;
    cursor: pointer;
    padding-left: 15px;
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    margin-top: 20px;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #86755d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    overflow-y: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e4deb2;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #a6b154;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    margin-left: 55px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*----------------------------INDEX.HTML--------------------------------------*/

#first1{
    width: 100%;
    height: 100vh;
    top: 0px;
    width: 100%;
    background: #86755d;
    position: relative;
}

#first1_half {
    background: #ffffff;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 100vh;
}

#first1_half span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

#second1_half {
    background: #ffffff;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 100vh;
    position: absolute;
    overflow: auto;
}

#second1_half h2,p {
  color: black;
  margin: 35px;
  text-align: left;
  font-size: medium;
}

#first1_middle{
  position: absolute;
    top: 40%;
    left: 50%;
    width: 400px;
    margin-top: -150px;
    margin-left: -200px;
}

#second1 {
    width: 100%;
    height: 100vh;
    background-color: green;
    position: relative;
    background: url(/assets/img/foto1.jpg) no-repeat 0 100%;
    background-position: right;
}

#scroll {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 999;
}
.scroll_item {
  background-color: #bbb;
  border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
    cursor: pointer;
}
.scroll_item:hover{
    background: #86755d;
}
.scroll_item_active {
  background-color: #a6b154;
  border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
}


/*----------------------------BLOG INDEX.HTML--------------------------------------*/

/*----------------------------ABOUT INDEX.HTML--------------------------------------*/

#left{
  background-color: blue;
  float: left;
  width: 80%;
  height: 100%;
}
#right{
  background-color: yellow;
  float:left;
  width: 20%;
  height: 100%;
}

#first_about{
    width: 100%;
    height: 100vh;
    top: 0px;
    width: 100%;
    background: #86755d;
    position: relative;
}

#first_about h3{
  font-size: 1em;
  margin: 10px 35px;
}

#first_half {
    background: #ffffff;
    padding: 5px 0px;
    color: #FFF;
    text-align: center;
    height: 100vh;
    position: absolute;
    overflow: auto;
}

#second_half {
    background: #ffffff;
    padding-top: 100px;
    color: #8c9c4e;
    text-align: center;
    height: 100vh;
    float: right;
}

#first_half span {
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
}

#first_half h1,h2,p {
  color: black;
  margin: 10px 35px;
  text-align: left;
  font-size: medium;
}

#second_half a{
  color: #8c9c4e;
}

#first_half h1{
  font-size: x-large;
}

#first_half h2{
  color: #86755d;
}

#first_half p{
  margin: 10px 35px 80px 35px;
}


/*----------------------------GALLERY INDEX.HTML--------------------------------------*/

.column{
  width: 32%;
  margin: 2px;
}
.gallery-title
{
  width: 100%;
  margin: 15px;
}
#filters{
  width: 100%;
  margin: 15px;
}

#filters button{
  margin: 2px;
  color: white;
  background-color: #8c9c4e;
}
.row{
  margin: 15px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 95%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #8c9c4e;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #8c9c4e;
}
